{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>


    <div id="map2" style="width:100%;height:400px;"></div>


    {# Informations sur la boutique à l'id = $id  #}
    {% for boutique in boutiques %}
            {% if boutique.id == id %}
        <div class="infoBoutique">
            <div class="col-1-boutique">
                <div class="imgBoutique"><a href="#"><img class="imgBoutique" style=" overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/{{boutique.image}}" alt="{{ boutique.nom }}" /></a></div>
            </div>
            <div class="col-2-boutique">
                <h1 class="nomBoutique"> {{ boutique.nom }}</h1>
                <div class="distanceBoutique">{{ boutique.adresseBoutique }} {{ boutique.ville }}- <dist id="distance"></dist> KM</div>
                <div class="descriptionBoutique">{{ boutique.description }} </div>
            </div>
        </div>








        <script>

            //Affichage de la Map + curseur à l'adresse de la boutique
            var latitude = {{ boutique.latitude }};
            var longitude = {{ boutique.longitude }};



            function initMap() {

                var map = new google.maps.Map(document.getElementById('map2'), {
                    zoom: 12
                });

                map.setCenter(new google.maps.LatLng(latitude,longitude));
                new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(latitude,longitude)
                });
            }

            //Calculer distance

            var lat1 = 51.454545;
            var lat2 = 50.454545;
            var lon1 = 5.454545;
            var lon2 = 4.454545;

            var dist_metres = 11*10000*Math.sqrt(Math.pow(latitude-lat2,2)+Math.pow(longitude-lon2,2));
            var dist_km = Math.round((100 / (dist_metres/1000)) * 100) / 100;

            document.getElementById("distance").innerHTML =  dist_km ;

        </script>





        {% endif %}

    {% endfor %}




    {# Tous les produits de la boutique à l'id = $id  #}

    <h3 class="produitBoutique">Nos produits</h3>
    {% for produit in produits %}
        {% if produit.boutiqueId == id %}

            <!-- Produit -->
            <div class="produitAll col-md-4" style="display: inline-block; vertical-align: top;  width: 32%; padding: 0;">
                <!-- image qui ouvre une modal  -->
                <div class="imgProduit" data-toggle="modal" data-target="#modalProduit{{ produit.id }}" style=" height: 250px; overflow: hidden;">
                    <a href="#"><img  style="width: 90%; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/{{produit.image}}" alt="{{ produit.nom }}" /></a>

                </div> <!-- Image modal - end -->

                <div class="contentProduit">
                    <div class="nomProduit">{{ produit.nom }}</div>
                    <div class="prixProduit">{{ produit.prix }} €/Kg</div>
                    {% if panier[produit.id] is not defined %}

                        <div class="quantitéProduit">
                            <form action="{{ path('ajouter',{'id':produit.id})}}" method="get">
                                <select class="quantite" name="quantite">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <div class="btnProduit">
                                    <button  class="btn-primary editBtn">Ajouter au panier</button>
                                </div>
                            </form>
                        </div>

                    {% else %}
                        <form action="{{ path('ajouter', { 'id' : produit.id}) }}" method="get">
                            <div class="quantite">Modifier les quantités:</div>
                            <div>
                                <select class="quantite" name="quantite" onchange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </form>
                    {% endif %}
                </div>
                </form>
            </div>



        {% endif %}
    {% endfor %}




    <!-- Modal -->



    {% for produit in produits %}
        {% for boutique in boutiques %}


            <div class="modal fade" id="modalProduit{{ produit.id }}" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            {{ produit.nom }}
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-6" style="width: 49%; display: inline-block; vertical-align: top; overflow: hidden;">
                                <div class="imgProduitModal" style="background-color: #0c5460; width: 100%; height: 300px; text-align: center;"><img  style="width: 350px; overflow: hidden; text-align: center;" src="{{app.request.basepath}}/directory/img/{{produit.image}}" alt="{{ produit.nom }}" /></div>
                            </div>
                            <div class="col-md-6" style="width: 49%; display: inline-block; vertical-align: top;">
                                <div class="nomProduitModal">{{ produit.nom }}</div>
                                <div class="producteurProduitModal"><a href="{{ path('boutique', { 'id': produit.boutiqueId }) }}">{{ boutique.nom }}</a> </div>
                                <div class="distanceProduitModal"><a href="map">Distance + lien map</a> </div>
                                <div class="prixProduitModal">{{ produit.prix }} €/Kg</div>
                                <div class="descriptionProduitModal">{{ produit.description }}</div>
                                {% if panier[produit.id] is not defined %}

                                    <div class="quantitéProduit">
                                        <form action="{{ path('ajouter',{'id':produit.id})}}" method="get">
                                            <select class="quantite" name="quantite">
                                                {% for i in 1..10 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            <div class="btnProduit">
                                                <button  class="btn-primary editBtn">Ajouter au panier</button>
                                            </div>
                                        </form>
                                    </div>

                                {% else %}
                                    <form action="{{ path('ajouter', { 'id' : produit.id}) }}" method="get">
                                        <div class="quantite">Modifier les quantités:</div>
                                        <div>
                                            <select class="quantite" name="quantite" onchange="this.form.submit()">
                                                {% for i in 1..10 %}
                                                    <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="noteTotal">note total:<img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"></div>
                        <div>
                            <div class="note"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"></div>
                            <div class="comment">
                                <div class="nomComment">Paul</div>
                                <div class="msg">Délicieux produit, je recommande.</div>
                            </div>
                        </div>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <div>
                                    <div class="ecrireNote"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"><img src="{{app.request.basepath}}/directory/img/note.png" style="width: 10px"></div>
                                    <div class="comment">
                                        <div class="ecrireNomComment">
                                            <input type="text" placeholder="{{ user.username }}">
                                        </div>
                                        <div class="ecrireMsg">
                                            <textarea rows="4" cols="50"></textarea>
                                        </div>
                                    </div>
                                </div>
                        {% else %}
                            <a href="/TFE/web/app_dev.php/login">Connectez-vous pour écrire un commentaire</a>
                        {% endif %}

                        <div class="modal-footer">
                            <div class="btnProduit">
                                <button  class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endfor %}





    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3qCo2eBujbleMezhW0flhbjnZvH9_oUs&callback=initMap"></script>



    </body>
</html>

{% endblock %}