{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>

    {# Informations sur la categorie à l'id = $id  #}
    {% for cat in categorie %}
        {% if cat.id == id %}
        <div class="infoBoutique">
            <div class="categorieNom">
                <h1 class="nomBoutique"> {{ cat.nom }}</h1>
            </div>
        </div>
        {% endif %}

    {% endfor %}



    {# Tous les produits de la categorie à l'id = $id  #}

    {% for produit in produits %}
        {% if produit.categories == id %}

            <!-- Produit -->
            <div class="produitAll col-md-4" style="display: inline-block; vertical-align: top;  width: 32%; padding: 0;">
                <!-- image qui ouvre une modal  -->
                <div class="imgProduit" data-toggle="modal" data-target="#modalProduit{{ produit.id }}" style=" height: 250px; overflow: hidden;">
                    <a href="#"><img  style="width: 90%; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/{{produit.image}}" alt="{{ produit.nom }}" /></a>

                </div> <!-- Image modal - end -->

                <div class="contentProduit">
                    <div class="nomProduit">{{ produit.nom }}</div>
                    <div class="prixProduit">{{ produit.prix }} €/Kg</div>
                    {% if panier[produit.id] is not defined %}

                        <div class="quantitéProduit">
                            <form action="{{ path('ajouter',{'id':produit.id})}}" method="get">
                                <select class="quantite" name="quantite">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <div class="btnProduit">
                                    <button  class="btn-primary editBtn">Ajouter au panier</button>
                                </div>
                            </form>
                        </div>

                    {% else %}
                        <form action="{{ path('ajouter', { 'id' : produit.id}) }}" method="get">
                            <div class="quantite">Modifier les quantités:</div>
                            <div>
                                <select class="quantite" name="quantite" onchange="this.form.submit()">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </form>
                    {% endif %}
                </div>
                </form>
            </div>



        {% endif %}
    {% endfor %}

    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}