{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>

        <h1>Producteurs</h1>

        {% for boutique in boutiques %}

            <div class="producteur">
                <div class="col-md-5">
                    <div class="imgProducteur">
                        <a href="#"><img src="{{app.request.basepath}}/directory/img/{{boutique.image}}" alt="{{ boutique.nom }}" /></a>
                    </div>
                </div>

                <div class="col-md-7 detailProducteur">
                    <div class="nomFerme">
                        <a href="{{ path('boutique', { 'id': boutique.id }) }}">
                             {{ boutique.nom }}
                        </a></div>
                    <div class="rueFerme">{{ boutique.adresseBoutique }} {{ boutique.ville }}  <dist class="distance" id="distance" class="distance"></dist></div>
                    <div class="typeFerme">Eleveur / Agriculteur</div>
                    <div class="descriptionFerme">
                        {{ boutique.description }}
                        <div class="container containerFerme">
                            <div>Catégories:</div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Epicerie</a>
                                <a href="#" class="list-group-item">Légumes</a>
                                <a href="#" class="list-group-item">Fruits</a>
                            </div>
                        </div>
                    </div>
                    <div class="btnFermeDiv">
                        <button class="btnFerme"><a href="{{ path('boutique', { 'id': boutique.id }) }}">
                            Voir tous les produits
                        </a></button></div>
                </div>
            </div>


            <script>
                //Calculer distance


                var latitude = {{ boutique.latitude }};
                var longitude = {{ boutique.longitude }};

                var lat2 = 50.454545;
                var lon2 = 4.454545;

                var dist_metres = 11*10000*Math.sqrt(Math.pow(latitude-lat2,2)+Math.pow(longitude-lon2,2));
                var dist_km = Math.round((100 / (dist_metres/1000)) * 100) / 100;

                if(dist_km != 0) {
                    document.getElementById("distance").innerHTML = "- "+  dist_km  +" km";
                    document.getElementsByClassName("distance").innerHTML = "- "+  dist_km  +" km";
                }

            </script>


        {% endfor %}




    </body>
</html>

{% endblock %}