{% extends 'base.html.twig' %}

{% block body %}
<html>
    <body>

        <h1>Producteurs</h1>



        <div style="text-align: left; margin-left: 200px">
            <h4 class="btnTri">Trier par:</h4>
            <div class="triProduit">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary triBtn triDistance">Distance</button>
                    <button type="button" class="btn btn-primary triBtn triAlpha">Alphabétique</button>
                    <button type="button" class="btn btn-primary triBtn">Popularité</button>
                </div>
            </div>
        </div>

        <script>//Trier

            $('.triAlpha').click(function () {
                {% set tri = 'nom' %}
            });

            $('.triDistance').click(function () {
                {% set tri = 'ville' %}
            });



        </script>



        {% for boutique in boutiques %}  {# ASC ou DESC #}





            <div class="producteur">
                <div class="col-md-5">
                    <div class="imgProducteur">
                        <a href="#"><img src="{{app.request.basepath}}/directory/img/{{boutique.image}}" alt="{{ boutique.nom }}" /></a>
                    </div>
                </div>

                <div class="col-md-7 detailProducteur">
                    <div class="nomFerme">
                        <a href="{{ path('boutique', { 'id': boutique.id }) }}">
                             {{ boutique.nom }}
                        </a></div>
                    <div class="rueFerme">{{ boutique.adresseBoutique }} {{ boutique.ville }}  <dist class="distance"><script>document.write("- "+  dist_km  +" km");</script></dist></div>
                    <div class="typeFerme">Eleveur / Agriculteur</div>
                    <div class="descriptionFerme">
                        {{ boutique.description }}
                        <div class="container containerFerme">
                            <div>Catégories:</div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Epicerie</a>
                                <a href="#" class="list-group-item">Légumes</a>
                                <a href="#" class="list-group-item">Fruits</a>
                            </div>
                        </div>
                    </div>
                    <div class="btnFermeDiv">
                        <button class="btnFerme"><a href="{{ path('boutique', { 'id': boutique.id }) }}">
                            Voir tous les produits
                        </a></button></div>
                </div>
            </div>


            <script>
                //Calculer distance


                var latitude = {{ boutique.latitude }};
                var longitude = {{ boutique.longitude }};

                var lat2 = 50.454545;
                var lon2 = 4.454545;

                var dist_metres = 11*10000*Math.sqrt(Math.pow(latitude-lat2,2)+Math.pow(longitude-lon2,2));
                var dist_km = Math.round((100 / (dist_metres/1000)) * 100) / 100;

                if(dist_km != 0) {
                    document.getElementsByClassName("distance")[0].innerHTML = "- "+  dist_km  +" km";
                }



                </script>


        {% endfor %}

        <div class="text-center">{{ knp_pagination_render(boutiques) }}</div>



    </body>
</html>

{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}