<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pré de chez vous!{% endblock %}</title>


        {% block stylesheets %}


            <script src="https://js.stripe.com/v3/"></script>

            {# Matériel Design script #}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
            <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

            {# Bootstrap script #}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

            <link rel="stylesheet" href="{{ asset('directory/css/main.css') }}">

        {% endblock %}


    </head>
    <body style="text-align: center;">



        <div class="connPanier">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <div class="panier"  onclick="w3_open()" style="cursor: pointer;">
                <img src="{{ asset('directory/img/panier.png') }}"/>
            </div>
            <div class="btnConn">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-user"></i></button>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li><a href="profile">Mon profil</a></li>
                        <li><a href="/TFE/web/app_dev.php/devenirvendeur">Devenir vendeur</a></li>
                        <li><a href="/TFE/web/app_dev.php/logout">Déconnexion</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-user"></i><span class="caret"></span></button>
                    <ul class="dropdown-menu  dropdown-menu-right">
                        <li><a href="/TFE/web/app_dev.php/login">Se connecter</a></li>
                        <li><a href="/TFE/web/app_dev.php/register">S'inscrire</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>



        </div>


    <logo><img src="{{ asset('directory/img/logo.png') }}" style="width: 100px;"></logo>

        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light" style="text-align: center;">
                <a class="navbar-brand" href="#" style="width: 33%;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/accueil">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/produits">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/producteurs">Producteurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/apropos">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/map">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/TFE/web/app_dev.php/contact">Contact</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>

        <!-- Expandable Textfield -->
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Rechercher</label>
                </div>
            </div>
        </form>


        </div>


<!-- SIDEBAR -->
<div class="w3-sidebar w3-bar-block" style="display: none; width: 200px; background-color: #eee; " id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-button w3-large btnClose">x</button>
    <div class="contentNavPanier container" >
        <h1>Panier</h1>
        <table class="table table-hover" style="width: 100%">
            <thead>
            <tr>
                <th>Produits</th>
                <th>Qty</th>
                <th>Récurrent</th>
                <th>Prix</th>
                <th>Supp</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="../../public/img/aubergines.jpg" style="width: 50px; height: 50px;">
                    Aubergine</td>
                <td><input type="number" class="inputPanier" value="2" style="width: 32px;"><label>Kg</label></td>
                <td><input type="checkbox" checked/></td>
                <td>12,60€</td>
                <td><i class="far fa-times-circle"></i></td>
            </tr>
            <tr>
                <td><img src="{{ asset('img/aubergines.jpg') }}" style="width: 50px; height: 50px;">
                    Aubergine</td>
                <td><input type="number" class="inputPanier" value="2" style="width: 32px;">Kg</td>
                <td><input type="checkbox"/></td>
                <td>12,60€</td>
                <td><i class="far fa-times-circle"></i></td>
            </tr>

            </tbody>
        </table>
    </div>


    <div class="sousPanierNav">
        <div class="totauxNav">
            <div class="subTotalNav">Sous-total: </div>
            <div class="totalNav">27€ </div>
        </div>
        <div class="btnNav">Passer commande</div>
    </div>
</div>





    {% block body %}{% endblock %}
    {% block panier %}{% endblock %}


        {% block javascripts %}
        <script>

            function w3_open(){
                document.getElementById("mySidebar").style.width = "500px";
                document.getElementById("mySidebar").style.marginLeft = "69%";
                document.getElementById("mySidebar").style.display = "block";
            }

            function w3_close(){
                document.getElementById("mySidebar").style.display = "none";

            }

        </script>


    {% endblock %}

    {% block fos_user_content %}{% endblock %}

        {#
        {% block footer %}

            <div class="footer">
                copyright Pres de chez vous!
            </div>

        {% endblock %}
        #}
    </body>
</html>
