{% extends 'base.html.twig' %}


{% set total = 0  %}
{% set nbProduit = 0 %}

{% block body %}


    <div class="rond rondActif"><a href="{{ path('paiement_adresse') }}">1</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_detail') }}">2</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_detailAll') }}">3</a></div><div class="bar"></div><div class="rond">4</div>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <div class="detailPaiement" style="margin-top: 100px">
            <h4>Articles</h4>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Quantité</th>
                        <th>Prix/pc</th>
                        <th>Total HT</th>
                        <th>Suppr</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if produits|length == 0 %}
                        <tr>
                            <td colspan="6">Aucun article dans votre panier</td>
                        </tr>
                    {% endif %}
                    {% for produit in produits %}
                        <tr>

                            <td><a href="#"><img  style="width: 100px; overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/{{produit.image}}" alt="{{ produit.nom }}" /></a></td>
                            <td>{{ produit.nom }}</td>
                            <td><form action="{{ path('ajouter', { 'id' : produit.id}) }}" method="get">
                                    <select name="quantite" onchange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                            </td>
                            <td><p>{{ produit.prix }} €</p></td>
                            <td><p>{{ produit.prix * panier[produit.id] }} €</p></td>
                            <td><a href="{{ path('supprimer', {'id':produit.id}) }}"><i class="far fa-times-circle"></i></a></td>
                            <td>
                                <div class="btnProduit">
                                    <button  class="btn-primary editBtn">Modifier</button>
                                </div>
                            </td>
                            </form>
                        </tr>

                        {% set total = total + (produit.prix * panier[produit.id]) %}
                        {% set nbProduit = nbProduit +1 %}

                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="totauxPanier">
                <dl class="dl-horizontal pull-right">
                    <div class="nbProduit"><dt>Nombre de produits:</dt><dd>{{ nbProduit }}</dd></div>
                    <div class="nbProduit"><dt>Total:</dt> <dd>{{ total }} €</dd></div>
                </dl>
            </div>

        </div>

        <div class="detailPaiement">
            <h4 style="color:red;">AFFICHER ADRESSE</h4>
        </div>


    {% else %}
        <div><b><a href="/TFE/web/app_dev.php/login">Connectez-vous</a></div>
    {%endif%}



{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}