{% extends 'base.html.twig' %}

{% block body %}

    <div class="rond rondActif"><a href="{{ path('paiement_adresse') }}">1</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_detail') }}">2</a></div><div class="bar"></div><div class="rond">3</div><div class="bar"></div><div class="rond">4</div>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <h3 style="margin-top: 100px">Choix de livraison:</h3>

        <div class="livraison">
            <a href="/TFE/web/app_dev.php/paiement/detailAll">
                <h4>Standard</h4>
                <img src="{{ asset('directory/img/livraison.png') }}"/>
                <p style="color: #ccc; margin: 20px 0;">Prix Livraison €</p>
            </a>

        </div>

        <div class="livraison">
            <a href="/TFE/web/app_dev.php/paiement/detailAll">
                <h4>Express</h4>
                <img src="{{ asset('directory/img/express.png') }}"/>
                <p style="color: #ccc; margin: 20px 0;">Prix Livraison € + Tarif Express</p>
            </a>

        </div>



    {% else %}
        <div><b><a href="/TFE/web/app_dev.php/login">Connectez-vous</a></div>
    {%endif%}




{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}