{% extends 'base.html.twig' %}

{% block body %}

    <div class="rond rondActif"><a href="{{ path('paiement_adresse') }}">1</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_detail') }}">2</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_detailAll') }}">3</a></div><div class="bar barActive"></div><div class="rond rondActif"><a href="{{ path('paiement_type') }}">4</a></div>

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        <h3>Type de paiement:</h3>

        <div class="livraison">
            <a href="/TFE/web/app_dev.php/paiement/detailAll">
                <div style="text-align: center; margin-left: 63px; vertical-align: middle; padding-top: 15px">
                    <img src="{{ asset('directory/img/paypal.png') }}" style="width: 100px; display: block; margin-bottom: -20px"/>
                    <img src="{{ asset('directory/img/paypal2.png') }}" style="width: 100px; display: block;"/>
                </div>
            </a>

        </div>

        <div class="livraison">
           <form action="{{ path('produits') }}" method="POST">
                <div style="text-align: center; margin-left: 63px;">
                    <img src="{{ asset('directory/img/visa.png') }}" style="width: 100px; display: block;"/>
                    <img src="{{ asset('directory/img/mastercard.png') }}" style="width: 100px; display: block;"/>
                </div>

               <script
                       src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                       data-key="pk_test_L3sbUfakApQKHBZOd53tWNDq"
                       data-amount="995"
                       data-name="Pré de chez vous"
                       data-description=""
                       data-locale="auto"
                       data-currency="eur">
               </script>
           </form>


        </div>
<!--
            <div id="status">
                <form action="{# path('paiement_checkout') #}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_L3sbUfakApQKHBZOd53tWNDq"
                            data-amount="995"
                            data-name="oc-stripe"
                            data-description="Widget"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>

            </div>
-->
    {% else %}
        <div><b><a href="/TFE/web/app_dev.php/login">Connectez-vous</a></div>
    {%endif%}




{% endblock %}
{% block footer %}
    <footer style="background-color: #931969; width: 100%; color: white; padding: 15px 0; margin-top: 300px; bottom: 0">
        <p>&copy;Pré de chez vous</p>
        <p>Contact: <a href="mailto:pdcv@gmail.com" style="color:lightgray;">pdcv@gmail.com</a> / <a href="{{ path('condition') }}" style="color:lightgray;">Conditions générales</a> </p>
    </footer>
{% endblock %}