{% extends 'CRShopBundle:Vendeur:menuvendeur.html.twig' %}

{% block vendeur %}
    <h5 style="color:#bbb; margin-left: -55px;">Informations de ma boutique</h5>

    <div class="infos">
        <div class="infos1">
            <h2 class="nomInfo""><input type="text" style="background-color: white; border:none;" value="{{ infos.nom }}" > <div class="infoEdit"><i class="far fa-edit" style="font-size: 20px; color:#931969;"></i></div></h2>
            <div class="imageInfo" style="height: 400px; overflow: hidden; ">
                <img  style="text-align: center; width: 40%;  overflow: hidden; background-color: #0c5460; text-align: center;" src="{{app.request.basepath}}/directory/img/{{infos.image}}" alt="{{ infos.nom }}" />
            </div>
            <div class="descriptionInfo">{{ infos.description }}</div>
        </div>
        <div class="infos2">
            <div class="detailInfo">
                <br>
                <div class="rueInfo">{{ infos.adresseBoutique }}</div>
                <div class="villeInfo">{{ infos.codePostal }} - {{ infos.ville }}</div>
                <div class="paysInfo">{{ infos.pays }}</div>
            </div>
            <div class="map" id="map" style="width: 550px; height:350px; background-color:grey;"></div>

        </div>
    </div>





    <script>


        //MAP
        var latitude = {{ infos.latitude }};
        var longitude = {{ infos.longitude }};
        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12
            });


            map.setCenter(new google.maps.LatLng(latitude,longitude));
            new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(latitude,longitude)
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3qCo2eBujbleMezhW0flhbjnZvH9_oUs&callback=initMap"></script>



{% endblock %}