
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Pré de chez vous!{% endblock %}</title>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>






    {% block stylesheets %}
        <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{ asset('directory/css/main.css') }}">

        <style>

            .titreVendeur{
                color:#bbb;
                margin-left: -55px;
            }

            .formulaireAjout{
                margin-left: 150px;
                margin-bottom: 50px;
            }

            .formAjout input{
                width: 300px;
                margin : 4px 5px;
                font-size: 20px;
                padding: 2px 3px;
                border-radius: 3px;
                border: none;
                background-color: #fff;
                box-shadow: 3px 4px 16px #ddd;
                text-align: left;
            }

            .formAjout textarea{
                width: 300px;
                margin : 4px 5px;
                font-size: 20px;
                padding: 2px 3px;
                border-radius: 3px;
                border: none;
                background-color: #fff;
                box-shadow: 3px 4px 16px #ddd;

            }

            .formAjout input[type=checkbox]{
                box-shadow: none;
            }

            .formAjout label{
                display: block;
                margin-left: 3px;
                margin-bottom: 0;
            }

            .formAjout button{
                background-color: #931969;
                color: white;
                border-radius: 3px;
                border: none;
                padding: 3px 5px;
                margin: 5px;
            }

        </style>
    {% endblock %}


</head>
{#
{% if({{ path(/TFE/web/app_dev.php/vendeur) }}) %}background-color: #CC0066;
    border-left: 3px solid #218838;{% endif %}
#}
{% block body %}
<html>
    <body>
    {% if  is_granted("ROLE_VENDEUR") or is_granted("ROLE_ADMIN") or is_granted("ROLE_VENDEUR_OCC") %}
        <div class="admin">
            <div class=" menuAdmin">
                <div class="adminLogo">
                    <a href="/TFE/web/app_dev.php/"><img src="{{ asset('directory/img/logo.png') }}" style="width: 50px"></a>
                </div>
                <ul>
                    <li><a href="/TFE/web/app_dev.php/vendeur"><i class="fas fa-list"></i><div>Mes produits</div></a></li>
                    <li><a href="/TFE/web/app_dev.php/vendeur/ajoutproduit"><i class="fas fa-plus-circle"></i><div>Ajouter un produit</div></a></li>

        {% if  is_granted("ROLE_VENDEUR") or is_granted("ROLE_ADMIN") %}
                    <li><a href="/TFE/web/app_dev.php/vendeur/mesventes"><i class="fas fa-chart-line"></i><div>Mes ventes</div></a></li>
                    <li><a href="/TFE/web/app_dev.php/vendeur/message"><i class="far fa-envelope"></i><div>Messages privés</div></a></li>
                    <li><a href="/TFE/web/app_dev.php/vendeur/comment"><i class="far fa-comments"></i><div>Commentaires & votes</div></a></li>
                    <li><a href="/TFE/web/app_dev.php/vendeur/info"><i class="fas fa-info-circle"></i><div>Mes infos</div></a></li>
        {% endif %}
                </ul>
            </div>
            <div class="col-vendeur">
                <div class="headerMenu">
                    <div class="profilAdmin dropdown">
                        <button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown"><i class="fas fa-user"></i>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/TFE/web/app_dev.php/profile" style="padding: 10px;">{{ user }}</a></li>
                            <li><a href="/TFE/web/app_dev.php/" style="padding: 10px;">Retour à la partie client</a></li>
                            <li><a href="/TFE/web/app_dev.php/logout" style="padding: 10px;">Deconnexion</a></li>
                        </ul>
                    </div>

                </div>
                <div class="contentAdmin">
                    {% block vendeur %}
                    {% endblock %}
                </div>
            </div>
        </div>



    {% else %}

        <div style="text-align: center; margin-top: 100px;">
            <div>
                <a href="/TFE/web/app_dev.php/"><img src="{{ asset('directory/img/logo.png') }}" style="width: 90px; margin-bottom: 50px;"></a>

                <h4>Vous n'avez pas accès à la page reservé aux vendeurs.</h4>
            </div>
            <div><b><a href="/TFE/web/app_dev.php/">Retour à l'accueil</a></div>
            <div><a href="/TFE/web/app_dev.php/devenirvendeur">Devenir vendeur</a></b></div>
        </div>
    {% endif %}





    </body>
</html>

{% endblock %}